<%- include('../includes/head.ejs') %> 
  </head>
  <body>
    <%- include('../includes/navigation.ejs') %> 
    <main class="container mt-5">
        <form action="/new-password" method="POST">
            <div class="form-group">
              <% if(errorMessage){  %> 
              <div id="error" class="alert alert-danger"><%= errorMessage%></div>
              <% } %> 
              <label for="password">New Password</label>
              <input type="password" name="password" class="form-control" id="password" placeholder="Password">
            </div>
            
            <input type="hidden" name="_csrf" value="<%= csrfToken%>">
            <input type="hidden" name="userId" value="<%= userId%>">
            <input type="hidden" name="passwordToken" value="<%= passwordToken%>">

            <button type="submit" class="btn btn-primary">Update Password</button>
          </form>
    </main>
<%- include('../includes/end.ejs') %> 