<%- include('../includes/head.ejs') %> 
  </head>
  <body>
    <%- include('../includes/navigation.ejs') %> 
    <main class="container">
    <!-- console.log('orders - products = ', orders[0].products[0].product.title); -->

      <% if(orders.length > 0){ %>
          <% for(let order of orders){ %>
            <h1>Your order: <%= order.user.name%></h1>
            <% order.products.forEach(item => {    %>
                <div><%= item.product.title%> (<%= item.quantity %>)</div>
            <%}); %>
          <% } %> 
      <% }else{ %> 
      <h1> Orders Is Empty</h1>
      <% } %> 
    </main>
<%- include('../includes/end.ejs') %> 