<%- include('../includes/head.ejs') %> 
  </head>
  <body>
    <%- include('../includes/navigation.ejs') %> 
    <main class="container mt-3">
    <!-- console.log('orders - products = ', orders[0].products[0].product.title); -->
    <% if(orders.length > 0){ %>
      <% for(let order of orders){ %>
        <div class="shadow-sm p-3 mt-3 bg-white rounded">
            <h2>Order - #<%= order._id%> - <a href="/orders/<%= order._id%>" class="btn btn-sm btn-secondary">Invoice</a></h2>
            <% order.products.forEach(item => {    %>
                <p class="border border-warning p-3"><%= item.product.title%> (<%= item.quantity %>) </p>
            <%}); %>
          </div>
          <% } %> 
      <% }else{ %> 
      <p> Orders Is Empty</p>
      <% } %> 
    </main>
<%- include('../includes/end.ejs') %> 