<%- include('../includes/head.ejs') %> 
  </head>
  <body>
    <%- include('../includes/navigation.ejs') %> 
    <main class="container">
      <% if(orders.length > 0){ %>
          <% for(let order of orders){ %>
            <h1>Your order: <%= order.user.name%></h1>
            <% order.items.forEach(product => {%>
                <div><%= product.title%> (<%= product.quantity %>)</div>
            <%}); %>
          <% } %> 
      <% }else{ %> 
      <h1> Orders Is Empty</h1>
      <% } %> 
    </main>
<%- include('../includes/end.ejs') %> 